html 
  head 
    title= title 
    body 
      h1 Welcome
      a(href='/posts/createpost') Createposts 
      div 
        for post in list 
          div 
            h4= post.tittel 
            p= post.content 
            a(href=`/posts/${post._id}`) Post ansehen 
